.logo{
  position: absolute;
  top:0%;
  left:45%;
  height: 180%;
}

.text-right{
  position: absolute;
  right: 2%;
}

.nav{
  position: relative;
}

.btn{
  border-radius: 50px;
  background-color: inherit;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.top-div{
  background-image: url("https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6ImhvbWUvaG9tZS1iYW5uZXIxLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MTIwMywiaGVpZ2h0Ijo2MDEsImZpdCI6ImNvdmVyIn0sIndlYnAiOnRydWV9fQ==");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover !important;
}
